      <div class="sectionWrapper">
      <div class="sectionCont">
        <div class="ingredientsCont">
          <h2>Ingredients</h2>
          <div class="ingredientsSection">
            <ul class="ingredients">
              <li class="ingredient" ng-repeat="ingredient in $ctrl.recipe.ingredients track by $index">{{ingredient}}</li>
            </ul>
          </div>
        </div>
        <div class="noteCont">
          <div class="note" ng-repeat="note in $ctrl.notes[$index]">{{note.text}}</div>
        </div>
        <div class="noteEnter" ng-class="{visible: ($ctrl.instForNote === $index)}">
          <input ng-model="$ctrl.noteText">
          <button ng-click="$ctrl.saveNote($index)">Add Note</button>
        </div>
      </div>
    </div>
    <div class="sectionWrapper">
      <div class="sectionCont">
        <div class="instructions">
          <h2>Instructions</h2>
          <div  class="instruction"
                ng-repeat="instruction in $ctrl.recipe.instructions track by $index"
                ng-class="{addingNote : $ctrl.addingNote}" >
            <div class="direction" ng-click="$ctrl.addNote($index)">
              <h3>{{$index + 1}}: {{instruction}}</h3>
            </div>
          </div>
        </div>
        <div class="noteHolder">
              <div class="note" ng-repeat="note in $ctrl.notes[$index]">{{note.text}}</div>
            </div>
            <div class="noteEnter" ng-class="{visible : ($ctrl.instForNote === $index)}">
              <input ng-model="$ctrl.noteText">
              <button ng-click="$ctrl.saveNote($index)">Add note</button>
            </div>
      </div>
    </div>



