<div class="recipeHeader">
  <div class="photoContainer"><img src="/images/corn.jpg"></div>
  <div class="recipeInfo">
    <h1>Street Corn</h1>
    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
  </div>
</div>
<div class="ingredientsContainer">
  <ul class="ingredients">
    <li class="ingredient">Test</li>
  </ul>
</div>
<div class="instruction">
  <p>1) This is an instruction</p>
  <div class="note"></div>
</div>