<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/angular.min.js"></script>
    <script src="javascripts/lib/angular-ui-router.min.js"></script>
    <script src="javascripts/lib/angular-animate.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/http-service.js"></script>
    <script src="javascripts/form.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body ng-app="recipesApp">
    <div class="navBar">
      <div class="logo">
        <h3>Recipe App</h3>
      </div>
      <ul class="navLinks">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="recipes">Recipes</a></li>
        <li><a ui-sref="form">Form</a></li>
      </ul>
    </div>
    <div ui-view></div>
  </body>
</html>
