<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cookbook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/angular.min.js"></script>
    <script src="javascripts/lib/angular-ui-router.min.js"></script>
    <script src="javascripts/lib/angular-animate.min.js"></script>
    <script src="javascripts/lib/angular-cookie.min.js"></script>
    <script src="javascripts/lib/ng-token-auth.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/http-service.js"></script>
    <script src="javascripts/auth-config.js"></script>
    <script src="javascripts/navbar.js"></script>
    <script src="javascripts/form.js"></script>
    <script src="javascripts/recipes/index.js"></script>
    <script src="javascripts/recipes/show.js"></script>
    <script src="javascripts/home.js"></script>
    <script src="javascripts/register-user.js"></script>
    <script src="javascripts/login-user.js"></script>
  </head>
  <body ng-app="recipesApp">
    <navbar></navbar>
    <div ui-view></div>
  </body>
</html>
